<div id='header'>
  <a href='/note/create'>New Note</a>
</div>
<div id="content">
  
  <% for mode in @modes %>
    <div id="<%= mode.title %>" class="droppable ui-widget-header mode">
      <h2>
        <%= mode.title.capitalize %>
        <small><a href='#' class='new-note'>+</a></small>
      </h2>
  
      <% for note in mode.notes  %>
        <div id="<%= note.id %>" class="note draggable ui-widget-content"> 
          <div class='title'>
            <%= note.title %>
          </div>
          <div class='description'>
            <%= note.description %>
          </div>
        </div>
      <% end %>
      
      <div class="note-placeholder"></div>

    </div>
  <% end %>

</div>
