<div id="content">
  
  <% @modes.each_with_index do |mode,index| %>
<div id="<%= mode.title %>" class="droppable ui-widget-header<% if index==0 %> page_title<%end%> mode">
      <h2>
        <%= mode.title.capitalize %>
        <small><a href='#' class='new-note'>+</a></small>
      </h2>
  
      <% for note in mode.notes  %>
        <div id="<%= note.id %>" class="note draggable ui-widget-content"> 
          <div class='title'>
            <%= note.title %>
          </div>
          <div class='description'>
            <%= note.description %>
          </div>
        </div>
      <% end %>
      
      <div class="note-placeholder"></div>

    </div>
  <% end %>

</div>
