<div id="content">
  <% @title = "Edit" %>
  <div class='page_title'>
    <h2>Edit Board : <%= @board.title %></h2>
  </div>
    <% if flash[:no_modes] %>
      <h3 class='flash'> You can view the board once you have defined some modes </h3>
      <h3 class='flash'>Consider : <ul><li>TODO</li><li>Active</li><li>Completed</li></h3>
    <% end %>

  <%# @new is true for new ojects and nil for updates %>
  <form method="post" action="/board/<%=@board.id%>" >
    <input name="_method" type="hidden" value="post" />
    <input name="type" type="hidden" value="html" />
    <table class='form'>
      <tr>
        <td>Title</td>
        <td><input type="text"  name="post[title]" value="<%=@board.title%>"/></tr>
      </tr>
      <tr>
        <td>Read Permissions</td>
        <td><input type="text"  name="post[read_security]" value="<%=@board.read_security%>"/></td>
      </tr>
      <tr>
        <td>Write Permissions</td>
        <td><input type="text"  name="post[write_security]" value="<%=@board.write_security%>"/></td>
      </tr>
      <tr>
        <td>Layout</td>
        <td><input type="text"  name="post[layout]" value="<%=@board.layout%>"/></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit">Update</button></td>
      </tr>
    </table>
    </form>

    <!-- Edit Modes associated with this board -->
    <h2>Modes</h2>


    <table class='form'>

      <% @board.modes.each do |mode| %>
        <tr>
          <td><%= mode.title %></td>
          <td>edit</td>
          <td>delete</td>
          <td>&#8657</td>
          <td>&#8659</td>
        </tr>
      <% end %>
      <tr>
        <form method="post" action="/board/<%=@board.id%>/add_mode" >
          <input name="_method" type="hidden" value="post" />
          <td><input type="text"  name="post[title]" value=""/></td>
          <td><button type="submit">Add Mode</button></td>
        </form>
      </tr>
    </table>




  </div>
